@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Roboto:wght@100;300;400;700&display=swap");

.none{
  display: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: #fff;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #e4e4e4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-weight: 700;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 40px;
  background-color: #e29700;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*======================== header ====================================*/
.header {
  background-color: #292929;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__symbol {
  width: 65px;
  height: 48px;
  margin-right: 10px;
}

.logo__name {
  width: 105px;
  height: 20px;
}

.nav-bar__list {
  display: flex;
}

.nav-bar__list__item {
  margin-right: 145px;
}
.nav-bar__list__item:last-child {
  margin-right: 0;
}

.nav-bar__list__item:hover {
  border-bottom: 1px solid #e29500;
}


/*------------------------ burger ----------------------------*/
body {
  margin: 0;
}

.burger-icon {
  display: none;
  cursor: pointer;
  padding: 30px 20px 20px 20px;
  position: fixed;
  z-index: 200;
}
@media (min-width: 200px) and (max-width: 1000px) {
  .burger-icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.burger-icon span {
  display: block;
  background-color: #00bdff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: 0.4s;
}

#burger-toggle {
  display: none;
}

#burger-toggle:checked + .burger-icon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#burger-toggle:checked + .burger-icon span:nth-child(2) {
  opacity: 0;
}

#burger-toggle:checked + .burger-icon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00bdff;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 100;
  opacity: 0.7;
}

#burger-toggle:checked + .burger-icon + .burger-menu {
  left: 0;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.burger-menu li {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.burger-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.burger-menu .li-button {
  display: flex;
  justify-content: center;
}

.content {
  padding: 20px;
  padding-top: 80px;
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .burger {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 1000px) {
  .big-screen-button {
    display: none;
  }
  body .container {
    width: 100%;
  }
  .header .list,
  .additional-items {
    display: none;
  }
}
@media (min-width: 770px) and (max-width: 820px) {
  .big-screen-button {
    display: none;
  }

  body .container {
    width: 100%;
  }

  .header {
    justify-content: flex-start;
  }
  .navbar-brand {
    margin-right: 600px;
  }
}

@media (min-width: 620px) and (max-width: 769px) {
  .navbar-brand {
    margin-right: 400px;
  }
  .header {
    justify-content: start;
  }
}
@media (min-width: 200px) and (max-width: 619px) {
  .navbar-brand {
    margin-right: 300px;
  }
  .header {
    justify-content: start;
  }
}
/*------------------------- burger-end ------------------------------*/


/*=============================== home ====================================*/
.home {
  background-color: #292929;
  color: #e4e4e4;
  height: 100vh;
}

.home__contant {
  display: flex;
  padding: 20px;
}

.home__contant__text {
  max-width: 450px;
  margin-top: 90px;
}

.title_2,
.title_1,
.avarage_text {
  margin-bottom: 30px;
}

.button {
  border-radius: 6px;
}

.home__contant__image {
}
.home_image {
  position: relative;
  bottom: -135px;
  right: 0;
}

/*=========================== about =====================================*/
.about {
  background-color: #3c3c3c;
  padding: 115px 135px;
}

.speciality {
  margin-bottom: 150px;
}

.speciality__first_row {
  display: flex;
  justify-content: center;
}

.speciality__first_row__item {
  border-radius: 29px;
  background-color: #2a2a2a;
  padding: 50px 40px;
  max-width: 270px;
  text-align: center;
  margin-right: 30px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.speciality__first_row__item:last-child {
  margin-right: 0;
}

.speciality__second_row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.speciality__second_row .speciality__first_row__item {
  margin-right: 40px;
}

.speciality_image {
  width: 75px;
  height: 75px;
}

.speciality__first_row__item__text {
  margin-top: 50px;
}

.speciality__first_row__item img {
  width: 75px;
  height: 75px;
}

.speciality__first_row__item .ui {
  width: 150px;
  height: 55px;
}

.about_me {
  position: relative;
}

.circles {
  display: flex;
  z-index: 0;
}
.circles__big img {
  width: 790px;
  height: 790px;
  margin-right: -150px;
}

.circles__smaller {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.junior {
  width: 355px;
  height: 355px;
}

.middle {
  width: 485px;
  height: 485px;
}

.about_me__information {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 15%;
}

.about_me__information {
  display: flex;
}

.about_me__information__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me__information__item:last-child {
  justify-content: center;
}

.photo {
  border: 20px solid #2c2c2c;
  border-radius: 15px;
}

.my_first_photo {
  max-width: 270px;
}

.my_second_photo {
  max-width: 250px;
}

.about_me__information__item__text {
  max-width: 495px;
  background-color: #2c2c2c;
  padding: 60px;
  border-radius: 15px;
  position: relative;
}

.title_me {
  font-weight: 400;
  position: absolute;
  top: -30px;
}

@media (min-width: 200px) and (max-width: 1275px) {
  .middle, .junior, .circles__big img, .my_second_photo, .last-photo {
    display: none;
  }
  .about_me__information {

    flex-direction: column;
}

.speciality__first_row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.speciality__first_row__item:nth-child(2n){
  align-self: flex-end;
}
.speciality__first_row__item:last-child{
  align-self: flex-start;
}


.about {
  height: 350vh;
  padding: 0;
}

.footer__contant {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.footer_list{
  margin-bottom: 30px;
}
h1{
  font-size: 30px;
}

}

/* ==================== portfolio ==================================*/

/*======================== footer ==============================*/
.footer {
  background-color: #383838;
  padding: 50px;
}

.footer__contant {
  display: flex;
  justify-content: center;
}

.footer_list {
  flex-direction: column;
}

.footer_list .nav-bar__list__item {
  margin-bottom: 15px;
}

.footer_list .nav-bar__list__item:last-child {
  margin-bottom: 0;
}

.nav-bar__list__item {
  border-bottom: 1px solid #383838;
}

.footer_button {
  margin-left: 30px;
}
